# Core Stack
# - Portainer
# - Dockhand
# - Cloudflare Tunnel
#
# Usage: docker compose up -d --force-recreate --remove-orphans --pull always

name: core-stack

networks:
  core-network:
    external: true
  # Connect to Observability
  # observability-network:
  #   external: true

volumes:
  portainer-data:
  dockhand-data:

services:
  ## -------------------------
  ## Portainer (UI for Docker)
  ## -------------------------
  portainer:
    image: portainer/portainer-ce:latest
    container_name: core-portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer-data:/data
    networks:
      - core-network
    #  - observability-network
    ports:
      - ${PORTAINER_PORT:-9443}:9443

  ## -------------------------
  ## Dockhand (Docker Management UI)
  ## -------------------------
  dockhand:
    image: fnsys/dockhand:latest
    container_name: core-dockhand
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockhand-data:/data
    networks:
      - core-network
    #  - observability-network    
    ports:
      - ${DOCKHAND_PORT:-3000}:3000

  ## -------------------------
  ## cloudflared (Cloudflare Tunnel)
  ## -------------------------
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: core-cloudflared
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - core-network
    #  - observability-network
