# Wyoming Stack
# - Whisper
# - Piper
#
# Usage: docker compose up -d --force-recreate --remove-orphans --pull always

name: wyoming-stack

networks:
  wyoming-network:
    external: true

volumes:
  whisper-data:
  piper-data:

services:
  ## -------------------------
  ## Whisper
  ## -------------------------
  whisper:
    image: rhasspy/wyoming-whisper
    container_name: wyoming-whisper
    restart: always
    # Only use GPU runtime if you have NVIDIA GPU
    gpus: all
    command: --model tiny-int8 --language en
    volumes:
      - whisper-data:/data
    networks:
      - wyoming-network
    ports:
      - ${WHISPER_PORT:-10300}:10300

  ## -------------------------
  ## Piper
  ## -------------------------
  piper:
    image: rhasspy/wyoming-piper
    container_name: wyoming-piper
    restart: always
    # Only use GPU runtime if you have NVIDIA GPU
    gpus: all
    command: --voice en_US-lessac-medium
    volumes:
      - piper-data:/data
    networks:
      - wyoming-network
    ports:
      - ${PIPER_PORT:-10200}:10200
