# AI Stack
# - Ollama
# - SearXNG
# - PostgreSQL
# - Qdrant
# - Redis
# - n8n
# - Open WebUI
#
# Usage: docker compose up -d --force-recreate --remove-orphans --pull always

name: ai-stack

networks:
    ai-network:
        external: true
    # Connect to Observability
    # observability-network:
    #   external: true

# Named volumes for databases
volumes:
    postgres-data:
    qdrant-data:
    redis-data:

services:
    ## -------------------------
    ## Ollama (Local LLM Server)
    ## -------------------------
    ollama:
        image: ollama/ollama:latest
        container_name: ai-ollama
        restart: always
        runtime: nvidia
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - OLLAMA_KEEP_ALIVE=${OLLAMA_KEEP_ALIVE}
            - ENABLE_IMAGE_GENERATION=${ENABLE_IMAGE_GENERATION}
            - NVIDIA_VISIBLE_DEVICES=all
            - NVIDIA_DRIVER_CAPABILITIES=all
        volumes:
            - ./ollama:/root/.ollama
        networks:
            - ai-network
        #  - observability-network
        ports:
            - ${OLLAMA_PORT:-11434}:11434

    ## -------------------------
    ## SearXNG (Free Web Search)
    ## -------------------------
    searxng:
        image: searxng/searxng:latest
        container_name: ai-searxng
        restart: always
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
        volumes:
            - ./searxng:/etc/searxng
        networks:
            - ai-network
        #  - observability-network

    ## -------------------------
    ## PostgreSQL (DB) - for n8n
    ## -------------------------
    n8n-postgres:
        image: postgres:16
        container_name: ai-n8n-postgres
        restart: always
        environment:
            - POSTGRES_USER=n8n
            - POSTGRES_PASSWORD=${N8N_POSTGRES_PASSWORD}
            - POSTGRES_DB=n8n
        volumes:
            - ./n8n-postgres-data:/var/lib/postgresql/data
        networks:
            - ai-network

    ## -------------------------
    ## PostgreSQL (DB) with pgvector extension - for long‑term memory
    ## -------------------------
    postgres:
        image: pgvector/pgvector:pg17
        container_name: ai-postgres
        restart: always
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
            - DB_STORAGE_TYPE=SSD
            - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
            - PGDATA=/var/lib/postgresql/data/pgdata
        volumes:
            # On WSL it should be folder inside WSL, not mounted folder form NTFS Windows
            - ./postgres-data:/var/lib/postgresql/data
        security_opt:
            - no-new-privileges:true
        networks:
            - ai-network
        #  - observability-network
        ports:
            - ${PGVECTOR_PORT:-5432}:5432

    ## -------------------------
    ## Qdrant (Vector DB) - for large‑scale memory
    ## -------------------------
    qdrant:
        image: qdrant/qdrant:latest
        container_name: ai-qdrant
        restart: always
        volumes:
            - qdrant-data:/qdrant/storage
            - ./qdrant-config:/qdrant/config
        networks:
            - ai-network
        #  - observability-network
        ports:
            - ${QDRANT_PORT:-6333}:6333

    ## -------------------------
    ## Redis (Cache) - for short‑term memory
    ## -------------------------
    redis:
        image: redis:latest
        container_name: ai-redis
        restart: always
        volumes:
            - redis-data:/data
        security_opt:
            - no-new-privileges:true
        networks:
            - ai-network
        #  - observability-network

    ## -------------------------
    ## n8n (AI Workflow)
    ## -------------------------
    n8n:
        image: n8nio/n8n:latest
        container_name: ai-n8n
        restart: always
        environment:
            - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
            - N8N_HOST=n8n.mydomain.com
            - WEBHOOK_TUNNEL_URL=https://n8n.mydomain.com
            - N8N_LISTEN_ADDRESS=0.0.0.0
            - N8N_PORT=5678
            - N8N_BASIC_AUTH_ACTIVE=true
            - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
            - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
            - N8N_ENCRYPTION_KEY=poMPMEPOpomDIEJeDeiuiunIUENepdlEWR
            - N8N_SECURE_COOKIE=false
            # Postgres config
            - DB_TYPE=postgresdb
            - DB_POSTGRESDB_HOST=n8n-postgres
            - DB_POSTGRESDB_PORT=5432
            - DB_POSTGRESDB_DATABASE=n8n
            - DB_POSTGRESDB_USER=n8n
            - DB_POSTGRESDB_PASSWORD=${N8N_POSTGRES_PASSWORD}
        volumes:
            - ./n8n:/home/node/.n8n
        networks:
            - ai-network
        #  - observability-network
        ports:
            - ${N8N_PORT:-5678}:5678

    ## -------------------------
    ## Open WebUI (Web UI for AI)
    ## -------------------------
    open-webui:
        depends_on:
            - ollama
        image: ghcr.io/open-webui/open-webui:latest
        container_name: ai-open-webui
        restart: always
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
            - ENABLE_RAG_WEBSEARCH=${ENABLE_RAG_WEBSEARCH}
            - RAG_WEB_SEARCH_ENGINE=${RAG_WEB_SEARCH_ENGINE}
            - RAG_WEB_SEARCH_RESULT_COUNT=${RAG_WEB_SEARCH_RESULT_COUNT}
            - RAG_WEB_SEARCH_CONCURRENT_REQUESTS=${RAG_WEB_SEARCH_CONCURRENT_REQUESTS}
            - SEARXNG_QUERY_URL=${SEARXNG_QUERY_URL}
        volumes:
            - ./open-webui:/app/backend/data
        networks:
            - ai-network
        #  - observability-network
        ports:
            - ${OPENWEBUI_PORT:-8181}:8080
        extra_hosts:
            - host.docker.internal:host-gateway
